* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  background-color: blueviolet;
  display: grid;
  margin: 2rem auto;
  width: 50%;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  /* grid-auto-rows: 150px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr; */
  /* grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px); */
  /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); */
  grid-gap: 10px;
  /* grid-row-gap: 10px;
    grid-column-gap: 10px; */


  justify-content: center;

  justify-content: center, start, end, space-around, space-between, space-evenly;
  align-content: center, start, end, space-around, space-between, space-evenly;


  /* justify-items: baseline, center , end , stretch, start ; this is for width
  align-items: baseline, center , end , stretch, start ; this is for height */
 
}

.grid-items {
  background-color: goldenrod;
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  color: white;
  font-size: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

/* .item-1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}*/

/* .item-2{ */
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; */
    /* align-self: baseline, center, stretch, start, end; this is for height
    justify-self: baseline, center, stretch, start, end; this is for width*/ 
/* } */

/* .item-5 { */
  /* grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2; */
  /* grid-row: 3 / 4;
    grid-column: 1 / 2; */
  /* grid-area: 3 / 1 / 4/ 2; */
/* } */
